$azul: #18B8DB;

body {
  margin-top:1em;
  font: 1.313em/1.5em Georgia, serif;
  color:#333;
  text-rendering:optimizeLegibility
}

div.wrapper {
  margin: 0 5%;
  width:90%;
}

h1 {
  font-size:26px;
}

a.email {
  font-size:16px;
}

h1, a.email {
  display:inline;
}

img {
  width:100%;
}

ul.posts {
  list-style:none;
  padding:0;

  span.date {
    font-size:12px;
    display:block;
    height:20px;
  }
}

@media only screen and (min-width: 662px) {
  div.wrapper {
    margin: 0 auto;
    width:662px;
  }
}
