body {
  font-family: "Gentium Basic", Georgia, serif; }

p {
  font: 1.313em/1.6667em "Gentium Basic", Georgia, serif;
  color: #333; }

div.wrapper {
  margin: 0 auto;
  width: 100%; }

h1, a.email {
  display: inline; }

@media only screen and (min-width: 662px) {
  div.wrapper {
    width: 662px; } }
